SUBSYSTEM=="power_supply", ATTR{online}=="0", RUN+="/usr/local/bin/displaylink-powersave.sh true"
SUBSYSTEM=="power_supply", ATTR{online}=="1", RUN+="/usr/local/bin/displaylink-powersave.sh false"
